* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 10000;
}

@media (max-width: 1400px) {
  html {
    font-size: 25px;
  }
  //标签大小
}
@media (max-width: 1200px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  width: 5px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #1f2020;
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #3c3c3c;
}

@media screen and (max-width: 600px) {
  .page {
    width: 95%;
  }
  .mdItem {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page {
    width: 75%;
  }
}

@media screen and (min-width: 1025px) {
  .page {
    width: 60%;
  }
}
// 小屏幕的时候
@media screen and (max-width: 766px) {
  .blog {
    margin-top: 200px;
  }
}
#nprogress .bar {
  background: #e1ed00 !important; //自定义颜色
}
