body {
  // transition:
  // color 0.5s,
  // background-color 0.5s;
  // font-family:
  //   Inter,
  //   -apple-system,
  //   BlinkMacSystemFont,
  //   'Segoe UI',
  //   Roboto,
  //   Oxygen,
  //   Ubuntu,
  //   Cantarell,
  //   'Fira Sans',
  //   'Droid Sans',
  //   'Helvetica Neue',
  //   sans-serif;
  // font-size: 18px;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // z-index: 10000;
}

#app {
}

.card {
  background: linear-gradient(
    to bottom right,
    #ffcccc,
    #cc99ff
  ); /* 设置从左上到右下的渐变色 */
  width: 90%;
  min-width: 240px;
  height: 150px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-left: 5%;
  padding: 20px; /* 可选：增加内边距以使内容不紧贴边框 */
}

.sidebar {
  width: 300px;
  background: transparent;
}
html {
  font-size: 30px;
}
@media (max-width: 1400px) {
  html {
    font-size: 25px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  width: 5px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1f2020;
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #3c3c3c;
}
