.home {
  position: relative;
  min-height: 90vh;
  width: 100%;
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.home:before {
  z-index: 777;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.home .media-icons {
  z-index: 888;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 30px;
  transition: 0.5s ease;
  justify-content: space-between;
  gap: 20px;
}

.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(2.9% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 0.5s ease;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}
.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #1680ac;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .content.active {
  display: block;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 30px;
  transition: 0.5s ease;
  justify-content: space-between;
  gap: 20px;
}

.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:hover {
  transform: scale(1.2);
}

.slider-navigation {
  z-index: 88888888;
  margin-top: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  gap: 20px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3 ease;
}

.slider-navigation .nav-btn.active {
  background: #2696e9;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.mediaPage {
  width: 100%;
}

.pages {
  color: #fff;
  background-image: url('../../assets/img/background-night.png');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .mediaPage {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .mediaPage {
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .mediaPage {
    width: 80%;
  }
}
.article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15vh;
  color: #fff;
  // margin: 5% 15% 0% 15%;
}
.article p:first-of-type {
  font-size: 1.6rem;
}
.article p:nth-of-type(2) {
  font-size: 2.8rem;
  color: #25c8ef;
  font-weight: 700;
}
.article p:nth-of-type(3) {
  font-size: 1.6rem;
  color: #fff;
}
.article p:nth-of-type(4) {
  font-size: 1.4rem;
  color: #fff;
}
.article p:nth-of-type(5) {
  font-size: 1rem;
  color: #fff;
}
.java {
  background-image: linear-gradient(to right, #cc6600, #ffaa33);
  -webkit-background-clip: text;
  color: transparent;
}
.Python {
  background-image: linear-gradient(to right, #00aa00, #33ff33);
  -webkit-background-clip: text;
  color: transparent;
}
.Go {
  background-image: linear-gradient(to right, #0000aa, #0000ff);
  -webkit-background-clip: text;
  color: transparent;
}
.Vue {
  background-image: linear-gradient(to right, #00ff99, #77ffcc);
  -webkit-background-clip: text;
  color: transparent;
}
.React {
  background-image: linear-gradient(to right, #5555ff, #5555ff);
  -webkit-background-clip: text;
  color: transparent;
}

.icon {
  width: 180px;
  border-radius: 50%; /* 使图片变为圆形 */
  // animation: rotate 10s linear infinite; /* 应用旋转动画 */
}

/* 设置选中文本的样式 */

.soial-icon > img {
  height: 50px;
  cursor: pointer;
}
