.headerStyle {
  z-index: 999;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  opacity: 0.7;
  background: #000;
  line-height: 55px;
  height: 55px;
  width: 100%;
}
@keyframes animate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(unquote('-#($sky-size)px'));
  }
}
.name {
  margin-left: 5%;
  font-weight: 600;
  cursor: pointer;
}

// .name:hover {
//   color: blue;
// }

.items {
  // margin-left: 35%;
  // width: 40%;
  cursor: pointer;
}

// .items:hover {
//   color: blue;
// }
.items > TextButton {
  font-weight: 600;
}
