.headerStyle {
  // height: 55.9754px;
  // line-height: 55.9754px;
  // width: 100%;
  // position: fixed;
  // font-size: 20px;
  // z-index: 10000;
  // color: #000;
  // background: hsl(0, 0%, 95%);
  // padding: 0px;
  // margin-top: 0px;
  // padding-bottom: 0px;
  // margin-bottom: 0px;
  // // 下划线
  // border-bottom: 1px solid #f2f2f2;

  z-index: 999;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 15px 200px;
  transition: 0.5s ease;
  align-items: center;
}
@keyframes animate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(unquote('-#($sky-size)px'));
  }
}
.name {
  margin-left: 5%;
  font-weight: 600;
  cursor: pointer;
}

.name:hover {
  color: blue;
}

.items {
  margin-left: 35%;
  width: 40%;
  cursor: pointer;
}

.items:hover {
  color: blue;
}
.items > TextButton {
  font-weight: 600;
}
