.headerStyle {
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: fixed;
  font-size: 14px;
  z-index: 10000;
  color: #bab2b2;
  background: #181818;
  // background-color: #181818;
}
// .headerStyle:hover {
//   background-color: #fbfbfb;
// }

.name {
  margin-left: 5%;
}

.items {
  margin-left: 35%;
  width: 40%;
}
