.blog {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100%;
  min-height: 100vh;
}
.p {
  color: aliceblue;
}
.items {
  margin-top: 20px;
  width: 30vw;
  background: #ddd;
}
.image {
  width: 100%;
  transition: transform 0.3s;
  cursor: pointer;
  overflow: hidden; /* 隐藏超出部分 */
  position: relative;
}
img {
  width: 100%; /* 图片宽度占满容器 */
  height: 20vh; /* 图片高度占满容器 */
  transition: transform 0.3s; /* 添加过渡效果 */
  /* 默认缩放效果 */
  transform-origin: 0 0 0 0;
  transform: scale(1);
}

img:hover {
  transform: scale(1.05); /* 鼠标悬停时放大图片 */
}
// 标题
.textTitle {
  padding: 2px;
  width: 100%;
  height: 60px;
  font-size: 14px;
}

.info {
  height: 30px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

p {
  display: -webkit-box; /* 使用flexbox布局 */
  -webkit-box-orient: vertical; /* 垂直排列 */
  -webkit-line-clamp: 2; /* 显示两行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 显示省略号 */
  cursor: pointer;
}
.text {
  height: 20vh;
  font-size: 14px;
  text-indent: 100;
  margin-left: 20px;
  width: 100%;
  display: -webkit-box; /* 使用flexbox布局 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 显示省略号 */
  cursor: pointer;
}
