.blog {
  width: 66%;
  height: 100%;
  margin: 5% auto;
}
.p {
  color: aliceblue;
}
.item {
  height: 240px;
  min-width: 270px;
  width: 10%;
  margin: 5px 10px 5px 5px;
}
.image {
  height: 150px;
  width: 270px;
  transition: transform 0.3s;
  cursor: pointer;
  overflow: hidden; /* 隐藏超出部分 */
  position: relative;
}
img {
  width: 100%; /* 图片宽度占满容器 */
  height: 100%; /* 图片高度占满容器 */
  transition: transform 0.3s; /* 添加过渡效果 */

  /* 默认缩放效果 */
  transform-origin: 0 0 0 0;
  transform: scale(1);
}

img:hover {
  transform: scale(1.05); /* 鼠标悬停时放大图片 */
}
.text {
  padding: 2px;
  width: 270px;
  height: 50px;
  background: #27272a;
  color: #cbd5e1;
  font-size: 14px;
}
.info {
  // background: #27272a;
  height: 30px;
  margin-top: -10px;
}

p {
  display: -webkit-box; /* 使用flexbox布局 */
  -webkit-box-orient: vertical; /* 垂直排列 */
  -webkit-line-clamp: 2; /* 显示两行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 显示省略号 */
  cursor: pointer;
}
span {
  font-size: 16px;
  // color: #785d2a;
  margin-left: 20px;
}
